<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Estadísticas</title>
    <link rel="stylesheet" type="text/css" href="../css/general.css">
    <link rel="stylesheet" type="text/css" href="../css/estadisticas.css">
</head>
<body>
    <h1>Estadísticas</h1>

    <img src="../imagenes/grafico1.png" alt="Avisos de adopción por día" width="300"><br>
    <img src="../imagenes/grafico2.png" alt="Total de avisos por mascota" width="300"><br>
    <img src="../imagenes/grafico3.png" alt="Avisos de adopción por mes" width="300"><br>

    <button onclick="window.location.href='index.html'">Volver</button>

</body>
</html>