{% extends 'estadisticas/base.html' %}
{% block title %} Estadísticas {% endblock %}
{% block css %}{% endblock %}
{% block content %}
<h1>Estadísticas</h1>

<img src="{{ url_for('static', filename='/svg/grafico1.png') }}" alt="Avisos de adopción por día" width="300"><br>
<img src="{{ url_for('static', filename='/svg/grafico2.png') }}" alt="Total de avisos por mascota" width="300"><br>
<img src="{{ url_for('static', filename='/svg/grafico3.png') }}" alt="Avisos de adopción por mes" width="300"><br>

<a href="{{ url_for('listado') }}">Volver</a>
{% endblock %}
{% block javascript %}{% endblock %}