{% extends 'estadisticas/base.html' %}
{% block title %} Estadísticas {% endblock %}
{% block css %}{% endblock %}
{% block content %}
<h1>Estadísticas</h1>

<div class="stats-container">
    <figure class="highcharts-figure">
        <div id="grafico-lineas"></div>
    </figure>

    <figure class="highcharts-figure">
        <div id="grafico-torta"></div>
    </figure>

    <figure class="highcharts-figure">
        <div id="grafico-barra"></div>
    </figure>
</div>

<a href="{{ url_for('index') }}">Volver</a>
{% endblock %}
{% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{url_for('static', filename='js/stats.js')}}"></script>
{% endblock %}